body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logos {
    columns: 2;
}

img {
    display: block;
    width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

a:hover {
    color: red;
}